# notebook
.ipynb_checkpoints/

# cache
*.pyc

# MAC OS
.DS_Store

# image
*.bmp
*.jpg
*.mp4
*.png

# checkpoint
checkpoint
*.model
*.ckpt.*
*.pb

# binary
*.so

# package
*.egg-info/
*.egg

# data
*.7z
