.ipynb_checkpoints/

*.7z
*.DS_Store
*.PKG-INFO
*.bmp
*.checkpoint
*.config
*.dat
*.data-00000-of-00001
*.egg
*.gitignore
*.gz
*.html
*.idx1-ubyte
*.idx3-ubyte
*.index
*.jpg
*.js
*.md
*.meta
*.model
*.mp4
*.pb
*.pbtxt
*.png
*.proto
*.pyc
*.readme
*.sh
*.so
*.ttc
*.ttf
*.txt
*.xml